/* Footer */
.footer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  margin-top: 50px; /* Espacio arriba del footer */
  
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.text {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  margin: 0;
  color: #ffffff;
  font-weight: bold;
}

.footer-links {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  font-size: small;
}

.footer-link:hover {
  color: #b96ae6;
}

.footer-social {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.footer-social-icon img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  transition: transform 0.3s;
}

.footer-social-icon img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  color: #ffffff;
}

.footer-bottom p {
  margin: 0;
}

/* Responsivo */
@media (max-width: 767px) {
  .footer {
    padding: 20px;
  }

  .footer-logo {
    flex-direction: column;
    text-align: center;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .text {
    font-size: 1.2rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  .footer-link {
    font-size: 0.9rem;
  }

  .footer-social {
    flex-direction: column;
    gap: 15px;
  }

  .footer-social-icon img {
    width: 30px;
    height: 30px;
  }

  .footer-bottom {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-links {
    gap: 20px;
  }

  .footer-social {
    gap: 25px;
  }
}

@media (min-width: 1024px) {
  .footer-links {
    gap: 30px;
  }

  .footer-social {
    gap: 40px;
  }
}
